
.admin .nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1
}

.admin .nav-md .container.body .col-md-3.left_col.menu_fixed {
    height: 100%;
    position: fixed
}
.admin .left_col {
    background: #2A3F54
}
.admin .navbar-nav>li>a,.admin .navbar-brand,.admin .navbar-nav>li>a {
    color: #fff !important
}
.admin .nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px;
    padding: 0px
}

.admin .main_container .top_nav {
    display: block;
    margin-left: 230px
}


.admin .navbar {
    margin-bottom: 0
}

.admin .navbar-header {
    background: #34495E
}

.admin .navbar-right {
    margin-right: 0
}

.admin .top_nav .navbar-right {
    margin: 13px;
    width: auto;
    float: right
}

.admin .top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static
}

.admin .site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px
}

.admin .site_title:hover,.admin .site_title:focus {
    text-decoration: none
}
.admin .site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%
}

.admin .profile_pic {
    width: 35%;
    float: left
}

.admin .profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left
}

.admin .profile_info span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8
}

.admin .profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300
}

.admin .main_menu_side {
    padding: 0
}

.admin .menu_section {
    margin-bottom: 35px
}

.admin .menu_section h3 {
    padding-left: 23px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000
}

.admin .menu_section>ul {
    margin-top: 10px;
    display: block
}

.admin .sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
    background: #2A3F54
}

.admin .sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #172D44
}

.admin .sidebar-footer a:hover {
    background: #425567
}

@media (min-width: 480px) {
    .admin .top_nav .navbar-right li {
           position:relative
       }

    .admin .item {
           display: block
       }
   }
